body {
  background-image: url('../images/timg.jpg');
  background-attachment: fixed; // 背景图片位置固定
  background-repeat: no-repeat; // 背景不要重复
  background-position: center center; // 背景位置垂直和水平方向居中
  background-size: cover; // 背景覆盖整个viewport
  background-color: #fff;

}